.container-boton{
    background-color: #2e6329;
    border: 1px solid #fff;
    position: fixed;
    z-index: 999;
    border-radius: 50%;
    bottom: 20px;
    right: 25px;
    padding: 11px;
    transition: ease 0.3s;
    animation: efecto 1.2s infinite;
}

.container-boton:hover{
    transform: scale(1.5);
    transition: 0.3s;
   transform: perspective(150px) rotate3d(140, 132, 120, 35deg);
  
}
.boton{
    width: 30px;
    transition: ease 1s;
}

@keyframes efecto{
    0%{
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
    }
    100%{
        box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
    }
}/*
Custom Css
*/
.container-boton img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);  }

.boton {
    width: 70px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.boton:hover {
    transform: scale(1.1);
}



        .faq-item {
            border-radius: 10px;
            overflow: hidden;
            margin-bottom: 12px;
            box-shadow: 0 2px 6px rgba(0,0,0,0.1);
        }

        .faq-question {
            cursor: pointer;
            font-weight: bold;
            padding: 15px;
            background: #f8f9fa;
        }

        .faq-question:hover {
            background: lightblue;;
        }

        .faq-answer {
            padding: 15px;
            background: beige;
        }
  